@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Definindo variáveis de cores no escopo global */
:root {
  --cor-fundo: #01080E;
  --cor-principal: #0B0D20;
  --cor-secundaria: #212333;
  --cor-destaque: #D7F9FF;
  --cor-titulo: #2BDEFD;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-destaque);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal {
  background-color: var(--cor-secundaria);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  margin: auto;
}

h1, h2, .perguntas {
  font-family: 'Chakra Petch', sans-serif;
  color: var(--cor-titulo);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.perguntas {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--cor-destaque);
  text-align: center;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: var(--cor-principal);
  color: var(--cor-destaque);
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-secundaria);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--cor-destaque);
}

.resultado {
  display: none;
  margin-top: 20px;
}

.resultado.mostrar {
  display: block;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .pergunta {
    font-size: 1rem;
  }

  button {
    padding: 10px;
  }
}
